body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#header {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  margin-top: 20px;
}

#web-logo {
  text-align: center;
  margin-right: 30%;
}

#search_bar {
  display: inline;
  width: 200px;
  margin: 0 auto;
  margin-top: 15px;
}

#search_logo {
  height: "30px";
  width: "30px";
}

#netvigator {
  display: grid;
  grid-auto-flow: column;
  gap: 4px;
  align-items: center;
  justify-items: center;
}

#content {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 860px;
}

#gallery {
  margin-right: 20px;
  outline: solid 2px lightgray;
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 100%;
}

#fd-list {
  height: 500px;
  outline: solid 2px lightgray;
  overflow-y: scroll;
  scrollbar-width: none;
}

.gallery-post {
  display: grid;
  grid-template-rows: 80% 10% 10%;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

#post-image {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  height: 842px;
  outline: solid 1px lightgrey;
}

#post-props {
  display: grid;
  grid-template-columns: 15% 85%;
}

#post-score {
  display: flex;
  margin-top: 30px;
  margin-left: 15px;
  height: 50px;
}

#post-score-amount {
  margin-top: 13px;
}

#post-comment {
  margin-top: 15px;
}

#post-comment-section {
  height: 50px;
  margin-right: 10px;
  padding: 5px;
}

#post-comment-text {
  width: 90%;
  position: relative;
  top: 1px;
}

.comments {
 display: grid;
 grid-template-columns: max-content max-content auto;
}

.comments-text {
  margin-left: 10px;
}

.comments-timestamp {
  font-size: x-small;
  margin-top: 5px;
  margin-left: 20px;
}